<footer>
    News Portal © Yordan Kolev {{date | date: 'yyyy'}} 
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacts</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.linkedin.com/in/jordan-kolev-59b198116/" class="text-dark">Linkedin</a>
          </li>
          <li>
            <a class="text-dark">email: jordan.g.kolev@gmail.com</a>
          </li>
          <li>
            <a class="text-dark">phone: +359 883 507 424</a>
          </li> 
        </ul>
      </div> 
</footer> 